ALLOW_MANUAL_ADMIN_LOGIN=true

FACEBOOK_VERIFY_TOKEN=CHANGEME
FACEBOOK_APP_CREDENTIALS=CHANGEME

GOOGLE_CLIENT_ID=CHANGEME
GOOGLE_CLIENT_SECRET=CHANGEME

SMTP_MAILHOG=localhost

SMTP_ADDRESS=smtp.gmail.com
SMTP_DOMAIN=localhost:3000
SMTP_USER=changeme@gmail.com
SMTP_PASSWORD=changeme

MAILER_ASSET_HOST=https://onefabshop.net

#NGROK_HOST=https://changeme.ngrok.io