ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=test123

ALLOW_MANUAL_ADMIN_LOGIN=false

AWS_ACCESS_KEY_ID=CHANGEME
AWS_SECRET_ACCESS_KEY=CHANGEME
AWS_S3_BUCKET_NAME=CHANGEME
AWS_REGION=CHANGEME

FACEBOOK_VERIFY_TOKEN=CHANGEME
FACEBOOK_APP_CREDENTIALS=CHANGEME

GOOGLE_CLIENT_ID=CHANGEME
GOOGLE_CLIENT_SECRET=CHANGEME

MAILER_ASSET_HOST=https://onefabshop.net/

RECAPTCHA_SITE_KEY   = CHANGEME
RECAPTCHA_SECRET_KEY = CHANGEME
RECAPTCHA_SITE_KEY_V2   = CHANGEME
RECAPTCHA_SECRET_KEY_V2 = CHANGEME

SECRET_KEY_BASE=secret_here

SMTP_ADDRESS=smtp.gmail.com
SMTP_DOMAIN=changeme.com
SMTP_USER=changeme@gmail.com
SMTP_PASSWORD=changeme

TELR_GATEWAY_URL_V2='https://secure.telr.com/gateway/order.json'
TELR_STORE_ID=CHANGEME