option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    LOGGING: debug

packages:
  yum:
    git: []
    curl: []
    wget: []
    sqlite-devel: []
    openssl-devel: []
    postgresql94-devel: []
    ImageMagick: []
    ImageMagick-devel: []