option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
    IgnoreHealthCheck: true
  aws:ec2:instances:
    InstanceTypes: 't2.micro'
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:application:environment:
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug

packages:
  yum:
    git: []
    curl: []
    wget: []
    sqlite-devel: []
    openssl-devel: []
    postgresql94-devel: []
    ImageMagick: []
    ImageMagick-devel: []