<!-- This isn't working to be available for users in admin. But still adding this view to avoid error when accidentally activated for users -->
<div class="my-2 px-3 py-4 border text-center">

  <p class="my-2 font-weight-bold">
    <i class="fa fa-lock"></i>
    <%= payment_method.name %>
  </p>
  <small class="form-text text-muted"><%= payment_method.description %></small>

</div>