<% unless @product_properties.empty? %>

  <table>
    <tbody>
      <% @product_properties.each do |product_property| %>
        <tr>
          <td><%= product_property.property.presentation %></td>
          <td><%= product_property.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
