<!-- HEADER LOGO -->
<tr>
  <td align="center" valign="top" style="font-size:0; padding-left: 35px; padding-right: 35px; padding-top: 35px;" bgcolor="#fff">
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
    <tr>
    <td align="left" valign="top" width="300">
    <![endif]-->
    <div style="display:inline-block; min-width:100px; vertical-align:top; width:100%;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
        <tr>
          <td align="center" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
            <img src="<%= asset_pack_url 'media/images/ofs/ofslogo.png' %>" alt="">
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>
<!-- /HEADER LOGO -->