<% available_locales = current_store.available_locales %>
<% if available_locales.any? %>
  <% available_locales.map do |locale| %>
    <li>
      <%= link_to I18n.t('spree.i18n.this_file_language', locale: locale), url_for(locale: locale) %>
    </li>
  <% end %>
<% end %>