<div class="col-sm-3 collection-filter">
  <!-- side-bar colleps block stat -->
  <div class="collection-filter-block pb-5">
    <!-- brand filter start -->
    <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>

    <%= yield :sidebar %>

  </div>
</div>
