<!-- timer banner -->
<section>
<div class="container">
  <div class="row banner-timer">
    <div class="col-md-6">
      <div class="banner-text">
        <h2>Save <span>30% off</span> Digital Watch</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="timer-box">
        <div class="timer">
          <p id="demo"></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- timer banner end -->